RegisterScreen {
    align: center middle;
}

#register-container {
    padding: 2;
    width: 60%;
    height: 24;
    background: $surface;
}

#register-container > Input {
    margin: 0 1 1 0;
}

#register-container > Horizontal > Button {
    margin: 0 2 1 0;
}